@font-face {
  font-family: Saira;
  src: url('../fonts/Saira/Saira-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: Saira Stencil One;
  src: url('../fonts/Saira/SairaStencilOne-Regular.ttf');
  font-display: swap;
}

html,
body {
  background: #F0F0F5;
  padding: 0;
  margin: 0;
  font-family: Saira, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Saira;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
